

.main__slider{
  height: 650px;
  width: 55%;
  img{
    height: 100% !important;
    width: 100%;
  }
}
@media (max-width:600px) {
  .main__slider{
    margin-top: 40px;
    height: 650px;
    width: 100%;
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100% !important;
      object-fit: contain;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    top: 300px !important;
  }
  .swiper-button-next{
    right: 15px;
  }
  .swiper-button-prev{
    left: 15px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70% !important;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide-next{
  transform: scale(1);
  transition: all ease 0.3s;
}

  .swiper-pagination{
    span{
      background-color: #fff !important;
    }
    .swiper-pagination-bullet-active{
      transform: scale(1.3);
      opacity: 1 !important;
    }
    .swiper-pagination-bullet{
      background-color: #fff;
      opacity: 0.6;
  
    }
    display: block;
    margin: 0 auto;
    background-color: #047BEF;
    width: 150px !important;
    height: 40px !important; 
    border-radius: 8px;
    padding: 11px;
    left: 50% !important;
    bottom: 10px !important;
    transform: translate(-75px);
  }
  
    .swiper-button-next, .swiper-button-prev {
      top: 450px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #047BEF !important;
      color: white !important;

     &::after{
      font-weight: bold !important;
      font-size: 15px;
     }
    }
@media (min-width:600px) {
  .swiper-slide-next{
    z-index: 2;
  }
  .swiper-slide-next img{
    transform: scale(1.3);
  }
  .swiper-slide-active{

    transform: translateX(50px) !important;
  }

  .swiper-slide-next ~ .swiper-slide{
    margin-right: 100px !important;
    z-index: 1;
    transform: translateX(-50px) !important;
  }

  
}

