
.main__slider{
  background-color: red;
  display: flex;
  align-items: end;
  height: 600px;
  width: 800px;
    .swiper-button-next, .swiper-button-prev {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #047BEF !important;
      color: white !important;
     &::after{
      font-size: 33px;
     }
    }
    .swiper-button-next {
      
     &::after{
      margin-left: 7px;
     }
    }
    .swiper-button-prev {
      left: 80px;
      &::after{
       margin-right: 5px;
      }
     }
}
.swiper {
  overflow-y: hidden !important;
  width: 100%;
  height: 100%;
  padding: 0 50px;

}

.swiper-wrapper{
  display: flex;
  align-items: end;
}


.swiper-slide-active{
  z-index: 1;
  transform: translateX(70px) !important;
}
.swiper-slide{
  transform: scale(1)  ;
  transition: all ease 0.5s;
}
.swiper-slide-next{
  z-index: 3;
  width: 250px !important;
  transform: scale(1.1)  !important ;
  img{
    height: 100%;
  }
}
.swiper-slide-next ~ .swiper-slide{
  z-index: 1;
  transform: translateX(-70px) !important;
}
.swiper-slide {
  
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
}

.swiper-pagination{
  span{
    background-color: #fff !important;
  }
  .swiper-pagination-bullet-active{
    transform: scale(1.2);
  }
  .swiper-pagination-bullet{
    background-color: #fff;
    opacity: 1;

  }
  display: block;
  margin: 0 auto;
  background-color: #047BEF;
  width: 150px !important;
  height: 40px !important; 
  border-radius: 8px;
  padding: 11px;
  left: 55% !important;
  transform: translate(-70px);
}